<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Add product</small>
                    </div>
                    <form [formGroup]="addProductForm" role="form">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="ProductId" formControlName="productId"
                                    type="number">
                            </div>
                            <div *ngIf="isSubmitted && formControls.productId.errors">
                                <div class="form-error" *ngIf="formControls.productId.errors.required">ProductId is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" formControlName="name"
                                    type="text">
                            </div>
                            <div *ngIf="isSubmitted && formControls.name.errors">
                                <div class="form-error" *ngIf="formControls.name.errors.required">Name is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <input class="form-control" placeholder="Category" formControlName="category" type="text">
                            </div>
                            <div *ngIf="isSubmitted && formControls.category.errors">
                                <div class="form-error" *ngIf="formControls.category.errors.required">Category is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Price" formControlName="price"
                                    type="number">
                            </div>
                            <div *ngIf="isSubmitted && formControls.price.errors">
                                <div class="form-error" *ngIf="formControls.price.errors.required">Price is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Quantity" formControlName="quantity" type="number">
                            </div>
                            <div *ngIf="isSubmitted && formControls.quantity.errors">
                                <div class="form-error" *ngIf="formControls.quantity.errors.required">Quantity is
                                    required</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary mt-4" (click)="addProduct()">Create
                                product</button>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <div *ngIf="isProductAdded" class="alert alert-success" role="alert">
                                Product Created Successfully
                            </div>
                        </div>
                        <div class="form-group">
                            <div *ngIf="!isProductAdded && errorMessage" class="alert alert-danger" role="alert">
                                {{errorMessage}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>